main {
  #credit-simulation {
    padding: 12.5% 0 7.5% 0;
    background-color: $common-red-bg-color;
    .credit-simulation-container {
      .credit-simulation-row {
        align-items: center;
        .credit-simulation-heading {
          text-align: center;
          color: white;
          font-weight: 600;
        }
      }
    }
  }

  #credit-simulation-body {
    background-color: $common-bg-color;
    padding: 5% 0 7.75% 0;
    .credit-simulation-body-container {
      .credit-simulation-body-row {
        .details-left-description-heading {
          font-weight: 600;
          margin-top: 3.5%;
        }

        .credit-simulation-body-left-side {
          .details-left-description-text {
            color: #92929d;
            margin-bottom: 3.5%;
          }

          .details-left-popup-car {
            .img-div {
              @include Flexing(flex, null, null, center);
              background-image: linear-gradient(
                  90deg,
                  rgba(2, 0, 36, 1) 0%,
                  rgba(13, 13, 14, 0.348243521041229) 1%
                ),
                url("../images/credit-simulation/credit-popup.jpg");
              background-size: cover;
              padding: 25% 0;
              border-radius: GiveRadius("btn");

              .details-left-popup-play-btn {
                @include Flexing(flex, null, center, center);
                color: $common-red-bg-color;
                font-size: 5rem;
                transition: 0.3s;
              }

              .details-left-popup-play-btn:hover {
                color: white;
              }
            }
          }

          .loan-calculator-card {
            margin-top: 2.5%;
            padding: 5%;
            background-color: white;
            border-radius: GiveRadius("btn");

            h3 {
              color: black;
              font-weight: 600;
            }

            p {
              color: $common-text-color;
              margin: 3.75% 0;
            }

            .loan-calculator-card-form {
              .alert {
                display: none;
              }

              .alert.active {
                display: block;
              }

              input::-webkit-outer-spin-button,
              input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
              }

              input[type="number"] {
                -moz-appearance: textfield;
              }

              label {
                display: inline-block;
                font-weight: 600;
                margin-bottom: 2.5%;
              }

              input {
                padding-top: 7.5px;
                padding-bottom: 7.5px;
              }

              .loan-calculator-price-group {
                margin-bottom: 3%;
                input {
                  display: inline-block;
                  box-shadow: none;
                  width: 100%;
                  border: 1px solid $dynamic-red;
                }
              }

              .loan-calculator-interest-group {
                margin-bottom: 3%;

                input {
                  display: inline-block;
                  box-shadow: none;
                  width: 100%;
                  border: 1px solid $dynamic-red;
                }
              }

              .loan-calculator-periode-group {
                margin-bottom: 3%;

                input {
                  display: inline-block;
                  width: 100%;
                  box-shadow: none;
                  resize: none;
                  border: 1px solid $dynamic-red;
                }
              }

              .loan-calculator-payment-group {
                margin-bottom: 3%;

                input {
                  display: inline-block;
                  width: 100%;
                  box-shadow: none;
                  resize: none;
                  border: 1px solid $dynamic-red;
                }
              }

              button {
                display: inline-block;
                background-color: $dynamic-red;
                color: white;
                box-shadow: none;
              }
            }

            table {
              margin-top: 5%;

              th,
              td {
                text-align: center;
              }
            }
          }
        }

        .credit-simulation-body-right-side {
          .special-offer-card {
            height: 450px;
            background-color: $common-red-bg-color;
            border-radius: GiveRadius("btn");
            @include Flexing(flex, column, center, center);

            h3 {
              color: white;
              font-weight: 600;
              padding: 0px 25%;
              text-align: center;
              margin: 0;
            }

            h5 {
              color: white;
              padding: 0 25%;
              text-align: center;
              margin: 7.5% 0;
            }

            a {
              display: inline-block;
              background-color: transparent;
              border-radius: GiveRadius("btn");
              color: white;
              font-weight: 600;
              padding: 2% 6%;
              box-shadow: none;
              border: 2px solid white;
            }
          }

          .contact-offer-card {
            margin-top: 2.5%;
            padding: 20% 10%;
            background-color: white;
            border-radius: GiveRadius("btn");

            h3 {
              color: black;
              font-weight: 600;
              margin-bottom: 7.5%;
            }

            .contact-offer-card-form {
              .contact-name-error,
              .contact-email-error,
              .contact-message-error {
                color: red;
              }

              .contact-offer-name-group {
                margin-bottom: 3%;
                input {
                  display: inline-block;
                  box-shadow: none;
                  width: 100%;
                  border: 1px solid $dynamic-red;
                }
              }

              .contact-offer-email-group {
                margin-bottom: 3%;

                input {
                  display: inline-block;
                  box-shadow: none;
                  width: 100%;
                  border: 1px solid $dynamic-red;
                }
              }

              .contact-offer-message-group {
                margin-bottom: 3%;

                textarea {
                  display: inline-block;
                  width: 100%;
                  box-shadow: none;
                  resize: none;
                  border: 1px solid $dynamic-red;
                }
              }

              button {
                display: inline-block;
                background-color: $dynamic-red;
                color: white;
                box-shadow: none;
              }
            }
          }
        }
      }
    }
  }

  #download-our-app {
    padding: 5.5% 0;
    .download-our-app-container {
      .download-our-app-row {
        align-items: center;

        .download-our-app-left {
          @include Flexing(flex, null, null, center);
          .img-div {
            width: 75%;
            img {
              width: 100%;
            }
          }
        }

        .download-our-app-right {
          h2 {
            text-align: center;
            font-weight: 600;
          }
          p {
            color: #92929d;
            margin: 5% 0;
          }
          ul {
            li {
              font-weight: 600;
              letter-spacing: 0.5px;
              i {
                display: inline-block;
                color: $dynamic-red;
                margin-right: 2.5%;
              }
            }
          }

          .web-stores-buttons {
            margin-top: 5%;

            button {
              border: none;
            }

            .app-store-btn {
              margin-left: 3.5%;
            }
          }
        }
      }
    }
  }
}

/* Tablet Responsive */
@media (max-width: 991px) {
  main {
    #credit-simulation-body {
      .credit-simulation-body-left-side {
        .details-left-description-heading {
          margin: 7.5% 0 !important;
        }

        .details-left-description-text {
          margin: 7.5% 0 !important;
        }

        .loan-calculator-card {
          h3 {
            text-align: center;
          }

          p {
            text-align: center;
          }

          button {
            width: 100%;
          }
        }
      }

      .credit-simulation-body-right-side {
        .contact-offer-card {
          h3 {
            text-align: center;
          }

          button {
            width: 100%;
          }
        }
      }
    }

    #download-our-app {
      padding: 5.5% 0 0 0 !important;

      .ul-and-buttons {
        display: flex;
        align-items: center;

        ul {
          width: 50%;
        }

        .web-stores-buttons {
          margin: 0 !important;
          width: 50%;

          .app-store-btn {
            margin-left: 0 !important;
          }
        }
      }
    }
  }
}

/* Mobile Responsive */
@media (max-width: 576px) {
  main {
    #credit-simulation {
      padding-top: 22.5% !important;
    }

    #credit-simulation-body {
      .credit-simulation-body-left-side {
        .details-left-description-heading {
          text-align: center;
          margin: 7.5% 0 !important;
        }

        .details-left-description-text {
          text-align: center;
          margin: 7.5% 0 !important;
        }

        .loan-calculator-card {
          h3 {
            text-align: center;
          }

          p {
            text-align: center;
          }

          button {
            width: 100%;
          }
        }
      }

      .credit-simulation-body-right-side {
        .contact-offer-card {
          h3 {
            text-align: center;
          }

          button {
            width: 100%;
          }
        }
      }
    }

    #download-our-app {
      padding: 5% 0 !important;
      p {
        text-align: center;
      }

      .download-our-app-right {
        margin-top: 5%;
        @include Flexing(flex, column, center);
      }

      ul {
        width: 50%;
      }

      .web-stores-buttons {
        display: flex;
        flex-direction: column;

        .app-store-btn {
          margin-top: 5%;
          margin-left: 0 !important;
        }
      }
    }
  }
}
