main {
  #model-s {
    padding: 12.5% 0 7.5% 0;
    background-color: $common-red-bg-color;
    .model-s-container {
      .model-s-row {
        align-items: center;
        .model-s-heading {
          text-align: center;
          color: white;
          font-weight: 600;
        }
      }
    }
  }

  #details-tesla {
    padding: 5% 0;
    background-color: $common-bg-color;
    font-weight: 600;
    .details-tesla-container {
      .details-tesla-row {
        .details-tesla-left-side {
          padding-top: 2.5%;
          .details-tesla-left-side-row {
            .details-left-car {
              @include Flexing(flex, null, center, space-between);
              .details-left-car-name {
                font-weight: 600;
              }
              .details-left-car-price {
                font-weight: 600;
                color: $dynamic-red;
              }
            }

            .details-left-main-card {
              margin-bottom: 1%;
              .img-div {
                width: 100%;
                img {
                  width: 100%;
                  border-radius: GiveRadius("btn");
                }
              }
            }

            .details-left-other-cards {
              .img-div {
                width: 100%;
                img {
                  width: 100%;
                  height: 200px;
                  object-fit: cover;
                  border-radius: GiveRadius("btn");
                }
              }
            }

            .details-left-description-heading {
              font-weight: 600;
              margin-top: 3.5%;
            }

            .details-left-description-text {
              color: #92929d;
              margin-bottom: 3.5%;
            }

            .details-left-popup-car {
              .img-div {
                @include Flexing(flex, null, null, center);
                background-image: linear-gradient(
                    90deg,
                    rgba(2, 0, 36, 1) 0%,
                    rgba(13, 13, 14, 0.348243521041229) 1%
                  ),
                  url("../images/detail/detail-popup.jpg");
                background-size: cover;
                padding: 25% 0;
                border-radius: GiveRadius("btn");

                .details-left-popup-play-btn {
                  @include Flexing(flex, null, center, center);
                  color: $common-red-bg-color;
                  width: 75px;
                  height: 75px;
                  font-size: 5rem;
                  border: 2px solid $common-red-bg-color;
                  border-radius: GiveRadius("circle");
                  background-color: transparent;
                  transition: 0.3s;
                }

                .details-left-popup-play-btn:hover {
                  color: white;
                }
              }
            }
          }
        }
      }
    }
  }
}
