main {
  #explore {
    padding: 12.5% 0 7.5% 0;
    background-color: $common-red-bg-color;
    .explore-container {
      .explore-row {
        align-items: center;
        .explore-heading {
          text-align: center;
          color: white;
          font-weight: 600;
        }
      }
    }
  }

  #home-inventory {
    padding: 5% 0;
    background-color: $common-bg-color;
    .home-inventory-container {
      .home-inventory-row {
        align-items: center;
        .home-inventory-heading {
          font-weight: 600;
          margin-bottom: 2.5%;
        }

        form {
          .home-inventory-form-first {
            .home-inventory-selects-div {
              .nice-select {
                margin-bottom: 2.5%;
              }
            }
          }

          .home-inventory-form-second {
            .home-inventory-selects-div {
              .nice-select {
                margin-bottom: 2.5%;
              }
            }
          }

          .home-inventory-form-third {
            .home-inventory-selects-div {
              .nice-select {
                margin-bottom: 2.5%;
              }
            }
          }

          .home-inventory-form-fourth {
            .home-inventory-selects-div {
              .nice-select {
                margin-bottom: 2.5%;
              }
            }
          }

          .home-inventory-input-col {
            margin-top: 7.5%;

            input[type="text"] {
              font-weight: 600;
              box-shadow: none;
            }

            input[type="text"]::placeholder {
              color: black;
            }
          }

          .home-inventory-button-col {
            margin-top: 7.5%;
            @include Flexing(flex, null, null, center);
            button {
              display: inline-block;
              background-color: $dynamic-red;
              border-radius: GiveRadius("btn");
              color: white;
              font-weight: 600;
              padding: 5% 15%;
              box-shadow: none;
              border: none;
              height: 100%;
            }
          }

          .home-inventory-hangar-col {
            margin-top: 7.5%;
            @include Flexing(flex, null, center);
            ul {
              @include Flexing(flex, null, center, flex-end);
              width: 100%;

              .hangar-item {
                h5 {
                  font-weight: 600;
                  margin: 0;
                  color: $common-text-color;
                }
              }

              .hangar-item:not(:last-of-type) {
                margin-right: 2.5%;
              }

              .hangar-item.active {
                h5 {
                  color: $dynamic-red;
                }
              }
            }
          }
        }
      }
    }
  }

  #tesla {
    background-color: $common-bg-color;
    .tesla-container {
      position: relative;
      padding: 3.5% 0;
      .tesla-row {
        .tesla-heading {
          font-weight: 600;
        }

        .dynamic-data-count-col {
          @include Flexing(flex, null, center);

          .fetch-card-count {
            color: $common-text-color;
          }
        }

        .special-offer-form-col {
          .special-offer-form-row {
            .special-offers-sort {
              @include Flexing(flex, null, center, flex-end);

              p {
                margin-right: 5.5%;
              }
            }

            .special-offers-icons {
              @include Flexing(flex, null, center, space-around);
            }
          }
        }

        .fetch-datas-col {
          padding-top: 5%;
          .fetch-cards {
            .fetch-card:first-of-type {
              padding-top: 0;
            }
            .fetch-card {
              position: relative;
              padding: 10% 0;
              .fetch-datas-col-row {
                align-items: center;
                .left-fetch-data {
                  .img-div {
                    width: 100%;
                    img {
                      width: 100%;
                      height: 175px;
                      object-fit: cover;
                      border-radius: GiveRadius("btn");
                    }
                  }
                }

                .right-fetch-data {
                  .right-fetch-car-name {
                    color: $dynamic-red;
                    font-weight: 600;
                  }

                  .fetch-model-new {
                    @include Flexing(flex, null, center);

                    .right-fetch-car-model {
                      margin: 0;
                      font-weight: 600;
                    }

                    .right-fetch-car-type {
                      color: black;
                      margin-left: 5%;
                    }
                  }

                  .fetch-car-details {
                    @include Flexing(flex, null, center);
                    margin: 3.5% 0;

                    div:nth-child(even) {
                      margin: 0 5%;
                    }

                    div {
                      h6:first-of-type {
                        color: $common-text-color;
                        font-weight: 600;
                      }

                      h6:last-of-type {
                        color: black;
                        font-weight: 600;
                      }
                    }
                  }

                  .fetch-price-and-details-btn {
                    @include Flexing(flex, null, center, space-between);

                    .right-fetch-car-price {
                      color: $dynamic-red;
                      font-weight: 600;
                      margin: 0;
                    }

                    .right-fetch-car-details-btn {
                      display: inline-block;
                      background-color: $dynamic-red;
                      border-radius: GiveRadius("btn");
                      color: white;
                      font-weight: 600;
                      padding: 1.5% 4.5%;
                      box-shadow: none;
                      border: none;
                    }
                  }
                }
              }
            }

            .fetch-card::after {
              content: "";
              position: absolute;
              width: 100%;
              height: 1px;
              bottom: 0;
              background-color: #e1e1e1;
            }
          }

          .pagination-div {
            padding: 5% 0;
            .pagination-ul {
              @include Flexing(flex, null, center, center);

              li {
                a {
                  display: inline-block;
                  color: #91919c;
                }

                .pagination-numbers {
                  padding: 5px 10px;
                  border-radius: GiveRadius("btn");
                }

                .pagination-numbers.active {
                  background-color: $common-red-bg-color;
                  color: white;
                }

                .pagination-btns {
                  color: $common-red-bg-color;
                }

                .pagination-btns.disabled {
                  color: #91919c;
                  cursor: default;
                }
              }

              li:not(:first-of-type) {
                margin-left: 3%;
              }
            }
          }
        }

        .special-offers-col {
          padding-top: 5%;
          .special-offers-row {
            align-items: center;

            .special-offer-card {
              padding: 50% 0;
              background-color: $common-red-bg-color;
              border-radius: GiveRadius("btn");
              @include Flexing(flex, column, center);

              h3 {
                color: white;
                font-weight: 600;
                padding: 0px 25%;
                text-align: center;
              }

              h5 {
                color: white;
                padding: 0 25%;
                text-align: center;
                margin: 10% 0;
              }

              a {
                display: inline-block;
                background-color: transparent;
                border-radius: GiveRadius("btn");
                color: white;
                font-weight: 600;
                padding: 2% 6%;
                box-shadow: none;
                border: 2px solid white;
                height: 100%;
              }
            }

            .contact-offer-card {
              margin-top: 2.5%;
              padding: 20% 0;
              background-color: white;
              border-radius: GiveRadius("btn");
              @include Flexing(flex, column, center);

              h3 {
                color: black;
                font-weight: 600;
                text-align: center;
              }

              h5 {
                color: #bbbbc1;
                margin: 7.5% 0;
                text-align: center;
              }

              a {
                display: inline-block;
                background-color: $dynamic-red;
                border-radius: GiveRadius("btn");
                color: white;
                font-weight: 600;
                padding: 2% 8%;
                box-shadow: none;
                border: none;
                height: 100%;
              }
            }
          }
        }
      }
    }

    .tesla-container::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      top: 0;
    }
  }
}

/* Tablet Responsive */
// @media (max-width: 991px) {
// }

/* Mobile Responsive */
@media (max-width: 576px) {
  main {
    #explore {
      padding: 23.5% 0 7.5% 0;
    }

    #home-inventory {
      padding: 5% 0;
      background-color: $common-bg-color;
      .home-inventory-container {
        .home-inventory-row {
          .home-inventory-heading {
            text-align: center;
            margin-bottom: 5%;
          }

          .home-inventory-input-col {
            margin-top: 0 !important;
          }

          .home-inventory-button-col {
            margin-top: 2.5% !important;

            button {
              padding: 3% 15% !important;
              width: 100%;
            }
          }

          .home-inventory-hangar-col {
            ul {
              display: flex !important;
              align-items: center !important;
              justify-content: center !important;
            }
          }
        }
      }
    }

    #tesla {
      .tesla-container {
        .tesla-row {
          .tesla-heading {
            text-align: center;
            margin: 5% 0;
          }

          .special-offers-sort {
            padding: 5% 0;
          }

          .dynamic-data-count-col {
            justify-content: center;
          }

          .fetch-datas-col {
            .right-fetch-data {
              padding: 5% 0;
              .right-fetch-car-name {
                text-align: center;
              }

              .fetch-model-new {
                justify-content: center;
              }

              .fetch-car-details {
                justify-content: center;
              }

              .fetch-price-and-details-btn {
                padding: 0 10%;
              }
            }
          }

          .special-offer-form-col {
            .special-offer-form-row {
              .special-offers-sort {
                display: flex;
                align-items: center;
                justify-content: center;
              }

              .special-offers-icons {
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }

          .special-offers-col {
            padding: 0 12.5%;
          }
        }
      }
    }
  }
}
