main {
  #explore {
    padding: 12.5% 0 7.5% 0;
    background-color: $common-red-bg-color;
    .explore-container {
      .explore-row {
        align-items: center;
        .explore-heading {
          text-align: center;
          color: white;
          font-weight: 600;
        }
      }
    }
  }

  #home-inventory {
    padding: 5% 0;
    background-color: $common-bg-color;
    .home-inventory-container {
      .home-inventory-row {
        align-items: center;
        .home-inventory-heading {
          font-weight: 600;
          margin-bottom: 2.5%;
        }

        form {
          .home-inventory-form-first {
            .home-inventory-selects-div {
              .nice-select {
                margin-bottom: 2.5%;
              }
            }
          }

          .home-inventory-form-second {
            .home-inventory-selects-div {
              .nice-select {
                margin-bottom: 2.5%;
              }
            }
          }

          .home-inventory-form-third {
            .home-inventory-selects-div {
              .nice-select {
                margin-bottom: 2.5%;
              }
            }
          }

          .home-inventory-form-fourth {
            .home-inventory-selects-div {
              .nice-select {
                margin-bottom: 2.5%;
              }
            }
          }

          .home-inventory-input-col {
            margin-top: 7.5%;

            input[type="text"] {
              font-weight: 600;
              box-shadow: none;
            }

            input[type="text"]::placeholder {
              color: black;
            }
          }

          .home-inventory-button-col {
            margin-top: 7.5%;
            @include Flexing(flex, null, null, center);
            button {
              display: inline-block;
              background-color: $dynamic-red;
              border-radius: GiveRadius("btn");
              color: white;
              font-weight: 600;
              padding: 5% 15%;
              box-shadow: none;
              border: none;
              height: 100%;
            }
          }

          .home-inventory-hangar-col {
            margin-top: 7.5%;
            @include Flexing(flex, null, center);
            ul {
              @include Flexing(flex, null, center, flex-end);
              width: 100%;

              .hangar-item {
                h5 {
                  font-weight: 600;
                  margin: 0;
                  color: $common-text-color;
                }
              }

              .hangar-item:not(:last-of-type) {
                margin-right: 2.5%;
              }

              .hangar-item.active {
                h5 {
                  color: $dynamic-red;
                }
              }
            }
          }
        }
      }
    }
  }

  #tesla {
    background-color: $common-bg-color;
    .tesla-container {
      position: relative;
      padding: 3.5% 0;
      .tesla-row {
        .tesla-heading {
          font-weight: 600;
        }

        .fetch-datas-col {
          p {
            color: $common-text-color;
          }

          .fetch-card {
            padding: 10% 0;
            .fetch-datas-col-row {
              align-items: center;
              .left-fetch-data {
                .img-div {
                  width: 100%;
                  img {
                    width: 100%;
                    height: 175px;
                    object-fit: cover;
                    border-radius: GiveRadius("btn");
                  }
                }
              }

              .right-fetch-data {
                .right-fetch-car-name {
                  color: $dynamic-red;
                  font-weight: 600;
                }

                .fetch-model-new {
                  @include Flexing(flex, null, center);

                  .right-fetch-car-model {
                    margin: 0;
                    font-weight: 600;
                  }

                  .right-fetch-car-type {
                    color: black;
                    margin-left: 5%;
                  }
                }

                .fetch-car-details {
                  @include Flexing(flex, null, center);
                  margin: 3.5% 0;

                  div:nth-child(even) {
                    margin: 0 5%;
                  }

                  div {
                    h6:first-of-type {
                      color: $common-text-color;
                      font-weight: 600;
                    }

                    h6:last-of-type {
                      color: black;
                      font-weight: 600;
                    }
                  }
                }

                .fetch-price-and-details-btn {
                  @include Flexing(flex, null, center, space-between);

                  .right-fetch-car-price {
                    color: $dynamic-red;
                    font-weight: 600;
                    margin: 0;
                  }

                  .right-fetch-car-details-btn {
                    display: inline-block;
                    background-color: $dynamic-red;
                    border-radius: GiveRadius("btn");
                    color: white;
                    font-weight: 600;
                    padding: 1.5% 4.5%;
                    box-shadow: none;
                    border: none;
                  }
                }
              }
            }

            // .right-fetch-data {
            // }
          }
        }
      }
    }

    .tesla-container::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: #e1e1e1;
      top: 0;
    }
  }
}
