header {
  nav {
    position: fixed;
    z-index: 999;
    padding: 1% 0;
    left: 0;
    top: 0;
    right: 0;
    transition: 0.5s;

    .nav-bar-col {
      display: none;
    }

    .nav-container {
      .nav-row {
        align-items: center;
        .left-nav {
          .img-div {
            width: 75%;
            img {
              width: 100%;
            }
          }
        }

        .burger-center-nav {
          display: none;

          li {
            a {
              display: inline-block;
              color: white;
              i {
                display: inline-block;
                font-size: 0.7rem;
                margin-left: 15%;
              }
            }
          }
          .nav-page-li {
            a {
              @include Flexing(flex, null, center);
            }
          }
        }

        .center-nav {
          ul {
            @include Flexing(flex, null, null, space-around);

            li {
              a {
                display: inline-block;
                color: white;
                i {
                  display: inline-block;
                  font-size: 0.7rem;
                  margin-left: 15%;
                }
              }
            }
            .nav-page-li {
              a {
                @include Flexing(flex, null, center);
              }
            }
          }
        }
        .right-nav {
          @include Flexing(flex, null, center, flex-end);

          .credentials-btns-box {
            button {
              display: inline-block;
              width: 75%;
            }

            .register-in-btn {
              margin-top: 2.5%;
            }
          }

          .my-photo-img-div {
            width: 40px;
            height: 40px;
            background-image: url("../images/includes/my-photo.jfif");
            border-radius: GiveRadius("circle");
            background-size: cover;
            background-position: top;
            margin-right: 2.5%;
          }

          button {
            display: inline-block;
            background-color: $dynamic-red;
            color: white;
            font-weight: 600;
            padding: 3% 5%;
            box-shadow: none;
          }
        }
      }
    }
  }

  nav.pending {
    position: static;
  }

  nav.onscroll {
    background-color: #000000;
  }
}

/* Tablet Responsive */
@media (max-width: 991px) {
}

/* Mobile Responsive */
@media (max-width: 576px) {
  header {
    nav {
      .nav-bar-col {
        display: block !important;
        text-align: right;

        button {
          display: inline-block;
          border: none;
          color: white;
          background-color: $dynamic-red;
          padding: 2.5% 5%;
          border-radius: Giveradius("circle");
        }
      }

      .center-nav {
        display: none;
      }

      .burger-center-nav {
        margin-bottom: 2.5%;
        ul {
          display: block !important;
          li {
            a {
              display: inline-block !important;
              width: 100%;
            }
          }

          .nav-page-li {
            i {
              margin-left: 2% !important;
            }
          }
        }
      }

      .right-nav {
        display: none !important;
      }
    }
  }
}
