@import "commons";

body.loading {
  overflow-y: hidden;
}

.loader {
  position: fixed;
  z-index: 1000;
  background-color: $dynamic-red;
  left: 0;
  right: 0;
  top: -300%;
  transition: 0.3s;
}

.loader.active {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.3s;
}

.loader > svg {
  width: 100%;
  height: 100vh;
}
