@import "reset";
@import "commons";
@import "radiusfunction";
@import "flexmixin";
@import "loader";
@import "home";

header {
  nav {
    position: fixed;
    z-index: 999;
    padding: 1% 0;
    left: 0;
    top: 0;
    right: 0;
    transition: 0.5s;
    .nav-container {
      .nav-row {
        align-items: center;
        .left-nav {
          .img-div {
            width: 75%;
            img {
              width: 100%;
            }
          }
        }
        .center-nav {
          ul {
            @include Flexing(flex, null, null, space-around);

            li {
              a {
                display: inline-block;
                color: white;
                i {
                  display: inline-block;
                  font-size: 0.7rem;
                  margin-left: 15%;
                }
              }
            }
            .nav-page-li {
              a {
                @include Flexing(flex, null, center);
              }
            }
          }
        }
        .right-nav {
          @include Flexing(flex, null, center, flex-end);

          .credentials-btns-box {
            button {
              display: inline-block;
              width: 75%;
            }

            .register-in-btn {
              margin-top: 2.5%;
            }
          }

          .my-photo-img-div {
            width: 40px;
            height: 40px;
            background-image: url("../images/includes/my-photo.jfif");
            border-radius: GiveRadius("circle");
            background-size: cover;
            background-position: top;
            margin-right: 2.5%;
          }

          button {
            display: inline-block;
            background-color: $dynamic-red;
            color: white;
            font-weight: 600;
            padding: 3% 5%;
            box-shadow: none;
          }
        }
      }
    }
  }

  nav.pending {
    position: static;
  }

  nav.onscroll {
    background-color: #000000;
  }
}

main {
  #subscribe-our-news {
    background-color: $common-bg-color;
    padding: 10% 0 5.5% 0;
    .subscribe-our-news-container {
      .subscribe-our-news-row {
        h1 {
          text-align: center;
          font-weight: 600;
        }

        p {
          text-align: center;
          color: $statistics-common-color;
          margin: 1.5% 0 3.5% 0;
        }

        .subscribe-form {
          .subscribe-form-row {
            justify-content: center;

            label {
              font-weight: 600;
              margin-bottom: 5%;
            }

            input[type="text"] {
              padding: 3.5% 2.5%;
              box-shadow: none;
            }

            .subscribe-btn-col {
              @include Flexing(flex, null, flex-end);
              button {
                display: inline-block;
                background-color: $dynamic-red;
                border-radius: GiveRadius("btn");
                color: white;
                font-weight: 600;
                box-shadow: none;
                height: 50%;
                padding: 6% 24%;
                font-size: 0.9rem;
              }
            }
          }
        }
      }
    }
  }
}

footer {
  background-color: $common-red-bg-color;
  padding: 7.5% 0 2.5% 0;
  .footer-container {
    #contact-side {
      .contact-side-row {
        .contact-first-col {
          .img-div {
            width: 40%;
            margin-top: -10%;
            margin-bottom: 2.5%;
            img {
              width: 100%;
            }
          }
          p {
            color: white;
            padding-right: 38%;
          }
        }

        .contact-second-col {
          h6 {
            color: white;
            font-weight: 600;
            margin-bottom: 7.5%;
          }

          ul {
            li {
              a {
                display: inline-block;
                color: white;
              }
            }

            li:not(:last-child) {
              margin-bottom: 5%;
            }
          }
        }

        .contact-third-col {
          h6 {
            color: white;
            font-weight: 600;
            margin-bottom: 7.5%;
          }

          ul {
            li {
              a {
                display: inline-block;
                color: white;
              }
            }

            li:not(:last-child) {
              margin-bottom: 5%;
            }
          }
        }

        .contact-fourth-col {
          @include Flexing(flex, null, null, flex-end);

          li {
            color: white;
          }

          li:not(:last-child) {
            margin-bottom: 5%;
          }
        }
      }
    }
    #copyright {
      padding-top: 5%;
      p {
        color: white;
      }
    }
  }
}
