@import "reset";
@import "commons";
@import "radiusfunction";
@import "flexmixin";
@import "loader";

header {
  nav {
    position: fixed;
    z-index: 999;
    padding: 1% 0;
    left: 0;
    top: 0;
    right: 0;
    transition: 0.5s;
    .nav-container {
      .nav-row {
        align-items: center;
        .left-nav {
          .img-div {
            width: 75%;
            img {
              width: 100%;
            }
          }
        }
        .center-nav {
          ul {
            @include Flexing(flex, null, null, space-around);

            li {
              a {
                color: white;
                i {
                  display: inline-block;
                  font-size: 0.7rem;
                  margin-left: 15%;
                }
              }
            }
            .nav-page-li {
              a {
                @include Flexing(flex, null, center);
              }
            }
          }
        }
        .right-nav {
          @include Flexing(flex, null, center, flex-end);
          .my-photo-img-div {
            width: 40px;
            height: 40px;
            background-image: url("../images/includes/my-photo.jfif");
            border-radius: GiveRadius("circle");
            background-size: cover;
            background-position: top;
            margin-right: 2.5%;
          }

          button {
            display: inline-block;
            background-color: $dynamic-red;
            color: white;
            font-weight: 600;
            padding: 3% 5%;
            box-shadow: none;
          }
        }
      }
    }
  }

  nav.pending {
    position: static;
  }

  nav.onscroll {
    background-color: #000000;
  }
}

main {
  #model-sv {
    background-image: url("../images/home/black-dodge-challenger-4k_1553075558.jpg");
    padding: 10% 0 7.5% 0;
    background-repeat: no-repeat;
    background-size: cover;
    .model-sv-container {
      .model-sv-row {
        align-items: center;
        .left-model-sv {
          .model-sv-little-heading,
          .model-sv-big-heading {
            color: white;
          }

          .model-sv-big-heading {
            margin-bottom: 7.5%;
          }

          .left-model-sv-statistics {
            @include Flexing;
            margin-bottom: 15%;
            div {
              .model-sv-top {
                color: white;
                font-weight: 600;
              }
              .model-sv-bottom {
                color: $dynamic-red;
                font-weight: 600;
              }
            }

            .engine-div {
              margin-left: 7.5%;
            }

            .fuel-economy-div {
              margin-left: 7.5%;
            }
          }

          button {
            display: inline-block;
            background-color: $dynamic-red;
            border-radius: GiveRadius("btn");
            color: white;
            font-weight: 600;
            padding: 2% 5%;
            box-shadow: none;
          }
        }

        .right-model-sv {
          .model-sv-dots {
            @include Flexing(flex, column, flex-end, null);

            i {
              cursor: pointer;
              display: inline-block;
              color: white;
            }

            i.targeted {
              color: $dynamic-red;
              margin: 2.5% 0;
            }
          }
        }
      }
    }
  }
}

#searching {
  .searching-container {
    .searching-form {
      padding: 2.5% 0;
      align-items: center;
      .searching-row {
        justify-content: center;
        .brand-col {
          .current {
            font-weight: 600;
          }
        }
        .model-col {
          .current {
            font-weight: 600;
          }
        }
        .search-btn-col {
          button {
            display: inline-block;
            background-color: $dynamic-red;
            border-radius: GiveRadius("btn");
            color: white;
            height: 100%;
            padding-left: 30%;
            padding-right: 30%;
            font-size: 0.9rem;
            box-shadow: none;
          }
        }
      }
    }
  }
}

#our-collection {
  padding: 13.5% 0 8.5% 0;
  background-color: $common-bg-color;
  .our-collection-container {
    .our-collection-row {
      align-items: center;
      .our-collection-heading-col {
        margin-bottom: 2.5%;
        h1 {
          font-weight: 600;
        }
      }
      .our-collection-buttons-col {
        margin-bottom: 2.5%;
        .buttons {
          @include Flexing(flex, null, null, flex-end);
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            border: 2px solid white;
            border-radius: GiveRadius("circle");
            color: $dynamic-red;
            cursor: pointer;
            transition: 0.3s;
          }

          a:hover {
            border: 2px solid $dynamic-red;
            color: white;
            background-color: $dynamic-red;
          }

          .our-collection-left-btn {
            margin-right: 5%;
          }
        }
      }

      .our-collection-main {
        margin-top: 1.5%;
        .part {
          padding: 5%;
          height: 400px;
          background-color: $common-red-bg-color;
          @include Flexing(flex, null, flex-end);

          .content {
            p {
              font-weight: 600;
              color: #eb9195;
            }

            h1 {
              font-weight: 600;
              color: white;
            }

            .characteristics {
              @include Flexing;
              margin-bottom: 10%;

              p:not(:first-child) {
                margin-left: 5%;
              }
            }

            a {
              display: inline-block;
              cursor: pointer;
              color: white;
              transition: 0.3s;
            }

            a:hover {
              transform: translateX(5px);
            }
          }
        }
      }

      .our-collection-cards-col {
        margin-top: 1.5%;
        .img-div {
          width: 100%;
          img {
            width: 100%;
            height: 400px;
            object-fit: cover;
          }
        }
      }
    }
  }
}

#experiences {
  background-color: $common-bg-color;
  padding: 1.5% 0 12.5% 0;
  .experiences-container {
    .experiences-row {
      .experiences-left {
        padding: 0;
        .img-div {
          width: 100%;
          img {
            width: 100%;
            height: 544px;
            object-fit: cover;
          }
        }
      }
      .experiences-right {
        padding: 3.5%;
        @include Flexing(flex, column, null, center);
        h1 {
          font-weight: 600;
          padding-right: 15%;
        }

        p {
          margin: 5% 0 10% 0;
          color: $statistics-common-color;
        }

        .experiences-statictics-div {
          @include Flexing(flex, null, flex-end, space-between);

          .cars-sold > h1,
          .cars-sold > h6 {
            color: $dynamic-red;
          }

          .customers > h1,
          .customers > h6,
          .dealer-reviews > h1,
          .dealer-reviews > h6 {
            color: $statistics-common-color;
          }
        }
      }
    }
  }
}

#why-choose-us {
  background-color: $common-red-bg-color;
  .why-choose-us-container {
    .why-choose-us-row {
      padding: 7.5% 2.5%;
      .why-choose-us-left {
        padding: 0 7.5% 0 0;
        .why-choose-us-left-h1 {
          color: white;
          font-weight: 600;
        }

        .why-choose-us-left-p {
          margin-top: 7.5%;
          color: white;
        }

        ul {
          li {
            margin-top: 10%;
            @include Flexing(flex, null, null, space-between);
            .img-content {
              margin-right: 2.5%;

              .customer1 {
                background-image: url("../images/home/customer1.jpg");
              }
              .customer2 {
                background-image: url("../images/home/customer2.jpg");
              }
              .customer3 {
                background-image: url("../images/home/customer3.jpg");
              }

              .img-div {
                width: 48px;
                height: 48px;
                background-size: cover;
                border-radius: GiveRadius("circle");
              }
            }

            .li-about {
              h5 {
                color: white;
                font-weight: 600;
              }
              p {
                color: white;
              }
            }
          }
        }
      }
      .why-choose-us-right {
        padding: 0;
        .img-div {
          background-image: url("../images/home/ferrari-classic.jpg");
          height: 608px;
          background-size: cover;
          background-position: bottom;
        }
      }
    }
  }
}

#our-top-brands {
  padding: 5% 0;
  .our-top-brands-container {
    .our-top-brands-row {
      .col-12 {
        margin-bottom: 4%;
        h5 {
          text-align: center;
          font-weight: 600;
        }
      }

      .img-div {
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
}

#new-items {
  padding: 10% 0;
  background-color: $common-bg-color;
  .new-items-container {
    .new-items-row {
      h2 {
        font-weight: 600;
        margin-bottom: 5%;
      }

      .new-items-main-col {
        .img-div {
          @include Flexing(flex, null, flex-end, center);
          .badge {
            position: absolute;
            left: 2.5%;
            top: 2.5%;
            color: $dynamic-red;
            background-color: white;
          }
          position: relative;
          background-image: url("../images/home/audi.jfif");
          height: 830px;

          .new-items-info {
            @include Flexing(flex, column, center);
            h3,
            h6 {
              color: white;
              font-weight: 600;
            }

            .price {
              color: $dynamic-red;
              font-weight: 600;
            }
          }
        }
      }
      .new-items-apart-col {
        .first-start-apart-col {
          margin-bottom: 15px;
          .first-top {
            @include Flexing(flex, null, flex-end, center);
            .badge {
              position: absolute;
              left: 2.5%;
              top: 2.5%;
              color: $dynamic-red;
              background-color: white;
            }
            position: relative;
            background-image: url("../images/home/jeep.jpg");
            height: 400px;
            background-size: cover;

            .new-items-info {
              @include Flexing(flex, column, center);
              h3,
              h6 {
                color: white;
                font-weight: 600;
              }

              .price {
                color: $dynamic-red;
                font-weight: 600;
              }
            }
          }
        }
        .first-end-apart-col {
          margin-top: 15px;
          .first-bottom {
            @include Flexing(flex, null, flex-end, center);
            .badge {
              position: absolute;
              left: 2.5%;
              top: 2.5%;
              color: $dynamic-red;
              background-color: white;
            }
            position: relative;
            background-image: url("../images/home/dodge-night.jpg");
            height: 400px;
            background-size: cover;

            .new-items-info {
              @include Flexing(flex, column, center);
              h3,
              h6 {
                color: white;
                font-weight: 600;
              }

              .price {
                color: $dynamic-red;
                font-weight: 600;
              }
            }
          }
        }

        .second-start-apart-col {
          margin-bottom: 15px;
          .second-start {
            @include Flexing(flex, null, flex-end, center);
            .badge {
              position: absolute;
              left: 2.5%;
              top: 2.5%;
              color: $dynamic-red;
              background-color: white;
            }
            position: relative;
            background-image: url("../images/home/dodge-forest.jpg");
            height: 400px;
            background-size: cover;

            .new-items-info {
              @include Flexing(flex, column, center);
              h3,
              h6 {
                color: white;
                font-weight: 600;
              }

              .price {
                color: $dynamic-red;
                font-weight: 600;
              }
            }
          }
        }

        .second-end-apart-col {
          margin-top: 15px;
          .second-end {
            @include Flexing(flex, null, flex-end, center);
            .badge {
              position: absolute;
              left: 2.5%;
              top: 2.5%;
              color: $dynamic-red;
              background-color: white;
            }
            position: relative;
            background-image: url("../images/home/audi-sport.jpg");
            height: 400px;
            background-size: cover;

            .new-items-info {
              @include Flexing(flex, column, center);
              h3,
              h6 {
                color: white;
                font-weight: 600;
              }

              .price {
                color: $dynamic-red;
                font-weight: 600;
              }
            }
          }
        }
      }
    }
  }
}
