@font-face {
  font-family: "Mulish";
  src: url(../fonts/Mulish/Mulish-VariableFont_wght.ttf);
  font-style: normal;
  font-weight: 400;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-family: "Mulish", sans-serif;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

header nav {
  position: fixed;
  padding: 1% 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 999;
}

header nav .nav-container .nav-row {
  align-items: center;
}

header nav .nav-container .nav-row .left-nav .img-div {
  width: 75%;
}

header nav .nav-container .nav-row .left-nav .img-div img {
  width: 100%;
}

header nav .nav-container .nav-row .center-nav ul {
  display: flex;
  justify-content: space-around;
}

header nav .nav-container .nav-row .center-nav ul li a {
  color: white;
}

header nav .nav-container .nav-row .center-nav ul li a i {
  display: inline-block;
  font-size: 0.7rem;
  margin-left: 15%;
}

header nav .nav-container .nav-row .center-nav ul .nav-page-li a {
  display: flex;
  align-items: center;
}

header nav .nav-container .nav-row .right-nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav .nav-container .nav-row .right-nav .my-photo-img-div {
  width: 40px;
  height: 40px;
  background-image: url("../images/includes/my-photo.jfif");
  border-radius: 50%;
  background-size: cover;
  background-position: top;
  margin-right: 2.5%;
}

header nav .nav-container .nav-row .right-nav button {
  display: inline-block;
  background-color: #fa3c45;
  color: white;
  font-weight: 600;
  padding: 3% 5%;
  box-shadow: none;
}

main #model-sv {
  background-image: url("../images/home/black-dodge-challenger-4k_1553075558.jpg");
  padding: 10% 0 7.5% 0;
  background-repeat: no-repeat;
  background-size: cover;
}

main #model-sv .model-sv-container .model-sv-row {
  align-items: center;
}

main #model-sv .model-sv-container .model-sv-row .left-model-sv .model-sv-little-heading,
main #model-sv .model-sv-container .model-sv-row .left-model-sv .model-sv-big-heading {
  color: white;
}

main #model-sv .model-sv-container .model-sv-row .left-model-sv .model-sv-big-heading {
  margin-bottom: 7.5%;
}

main #model-sv .model-sv-container .model-sv-row .left-model-sv .left-model-sv-statistics {
  display: flex;
  margin-bottom: 15%;
}

main #model-sv .model-sv-container .model-sv-row .left-model-sv .left-model-sv-statistics div .model-sv-top {
  color: white;
  font-weight: 600;
}

main #model-sv .model-sv-container .model-sv-row .left-model-sv .left-model-sv-statistics div .model-sv-bottom {
  color: #fa3c45;
  font-weight: 600;
}

main #model-sv .model-sv-container .model-sv-row .left-model-sv .left-model-sv-statistics .engine-div {
  margin-left: 7.5%;
}

main #model-sv .model-sv-container .model-sv-row .left-model-sv .left-model-sv-statistics .fuel-economy-div {
  margin-left: 7.5%;
}

main #model-sv .model-sv-container .model-sv-row .left-model-sv button {
  display: inline-block;
  background-color: #fa3c45;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  padding: 2% 5%;
  box-shadow: none;
}

main #model-sv .model-sv-container .model-sv-row .right-model-sv .model-sv-dots {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

main #model-sv .model-sv-container .model-sv-row .right-model-sv .model-sv-dots i {
  cursor: pointer;
  display: inline-block;
  color: white;
}

main #model-sv .model-sv-container .model-sv-row .right-model-sv .model-sv-dots i.targeted {
  color: #fa3c45;
  margin: 2.5% 0;
}

#searching .searching-container .searching-form {
  padding: 2.5% 0;
  align-items: center;
}

#searching .searching-container .searching-form .searching-row {
  justify-content: center;
}

#searching .searching-container .searching-form .searching-row .brand-col .current {
  font-weight: 600;
}

#searching .searching-container .searching-form .searching-row .model-col .current {
  font-weight: 600;
}

#searching .searching-container .searching-form .searching-row .search-btn-col button {
  display: inline-block;
  background-color: #fa3c45;
  border-radius: 5px;
  color: white;
  height: 100%;
  padding-left: 30%;
  padding-right: 30%;
  font-size: 0.9rem;
  box-shadow: none;
}
/*# sourceMappingURL=style.css.map */